/*REGOLE GENERALI*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sailec-Medium, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.button_nav {
    padding: 3px 8px;
    color: blue;
    background-color: #00D7D2;
    border-radius: 5px;
}

hr {
    margin: 5px 0;
    padding: 0;
    opacity: 0.8;
}

/*CLEAR*/

.row::after {
    clear: both;
    content: '';
    display: table;
}

/*NAVBAR*/

.navbar {
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: white;
}

.top_nav {
    height: 30px;
    margin-top: 10px;
}

.bottom_nav {
    height: 50px;
}

.top_nav ul li {
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
}

.top_nav a {
    color: grey;
    text-decoration: none;
}

.bottom_nav ul li {
    display: inline-block;
    padding: 0 30px;
    margin-top: 10px;
}

.bottom_nav a {
    font-size: 15px;
    color: black;
}

.sign_up a {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px 15px;
    color: blue;
    transition: 0.5s;
    text-decoration: none;
}

.sign_up a:hover {
    background-color: blue;
    color: white;
}

/*HEADER*/

header {
    background-color: lightblue;
    height: 700px;
    background-image: url(img/backgr.jpg);
    background-image: cover;
    margin-top: 100px;
}

.left_head {
    margin-top: 150px;
    color: white;
}

.right_head {
    margin-top: 150px;
}

.left_head h1 {
    font-size: 65px;
}

.left_head p {
    font-size: 25px;
    opacity: 0.8;
}

.registration {
    height: 400px;
    width: 350px;
    background: white;
    padding: 5px 38px;
    border-radius: 5px;
    text-align: center;
}

.form-control {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 40px;
}

.account a,
.google a{
    padding: 10px 36px;
    text-align: center;
    display: block;
    text-decoration: none;
}


.google a:hover {
    background-color: rgb(201, 201, 201 , 0.2)
}
.account a:hover {
    background-color: #0CB863;
    opacity: 0.8;
}
.account a {
    background: #0CB863;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin-top: -5px;
}

.google a {
    background: white;
    border-radius: 4px;
    box-shadow: -1px 1px 2px rgb(201, 201, 201);
    font-size: 17px;
    margin-top: 8px;
}

.terms_service {
    font-size: 11px;
    margin-top: 10px;
}
.terms_service a {
    text-decoration: underline;
}

/*SEZIONE SOTTOSTANTE HEADER*/

.bottom_nav_header {
    height: 300px;
    background-color: #F3F5F9;
    text-align: center;
}

.bottom_nav_header img {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.image_line ul li {
    float: left;
    display: inline-block;
    padding: 25px 32px;
    
}

.image_line img {
    width: 120px;
    height: 70px;
}
.splunk {
    padding: 15px;
}

.business h4 {
padding-top: 50px;
color: grey;
opacity: 0.8;
}

.customers a{
    text-decoration: none;
    font-size: 18px;
    color: blue;
}
/*SEZIONE DEPLOY*/
.deploy {
    height: 1150px;
    background-color: white;
}

.dep_title {
    text-align: center;
    padding: 50px 0;
    color: #031B4E;
    
}

.dep_title span {
    font-size: 20px;
    opacity: 0.8;
    display: block;
}

.dep_list ul li{
    list-style: none;
    font-size: 20px;
    padding-left: 20px;
    border-left: 2px solid lightgrey;
    padding-top: 8px;
    padding-bottom: 8px;
}
.dep_list a {
    text-decoration: none;
}

.dep_list ul li:hover {
    border-left:2px solid blue;
    color: black;
}
/*SECTION*/

section {
    background-color: grey;
    height: 700px;
}

/*FOOTER*/

footer {
    height: 550px;
    background-color: lightblue;
}

@media(max-width:767px) {
    .registration {
        width: 100%; 
    }
    .left_head,
    .right_head {
        margin: 0;
    }
    

 
}